name: Template CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '21'
          cache: 'gradle'
      - name: Dependency check
        env:
          NVD_API_KEY: 'fa3a42f3-7e56-4fba-b1f6-5758092c42ea'
        run: ./gradlew dependencyCheckAggregate
